Repository eclipse-edc/FederatedCatalog, pull requests merged in 2024-01, with the labels that each got.

#159 build: bump gradle wrapper to 8.5
  .github/workflows/scan-pull-request.yaml
  DEPENDENCIES
  gradle/wrapper/gradle-wrapper.properties
Labels: build, dependencies

#160 build: make trigger_snapshot workflow manually triggerable
  .github/ISSUE_TEMPLATE/adoption_request.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/bump-version/action.yml
  .github/actions/run-tests/action.yml
  .github/actions/setup-build/action.yml
  .github/workflows/apidoc.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release-fcc.yml
  .github/workflows/trigger_snapshot.yml
  .github/workflows/verify.yaml
  DEPENDENCIES
Labels: build

#161 fix: use explicit module dependency
  extensions/api/federated-catalog-api/build.gradle.kts
  gradle/libs.versions.toml
Labels: bug
